.About {
  padding-left: 15%;
  padding-top: 10%;
}

.About > h1 {
  font-family: 'Julius Sans One';
  font-size: 80px;
  padding-bottom: 50px;
}

.About > p {
  font-family: 'Archivo Narrow';
  font-size: 40px;
}