.SideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #474e609A;
  width: 10%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.linked-in, .git-hub, .email, .resume, .turing {
  max-width: 50px;
  margin: 15px;
}